<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/0513175856.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="../main.css">
  <link rel="stylesheet" type="text/css" href="../one.css"> 
     <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Serif|Righteous|Pacifico|Roboto Condensed|PT+Serif&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="50">
	<header>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand ml-3" href="#">Ari<span style="color:#f5b942">hant</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="#section0">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section1">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#section2">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#section5">FAQs</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#section6">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

	</header>
	<main class="container-fluid p-0">
		<div class="site-content" id="section0">
			<div id="aa"></div>
			<div class="d-flex justify-content-center">
				<div class="d-flex flex-column">
					<h1 class="site-title animated bounceInRight" >welcome to <span style="color:#f5b942">Arihant</span></h1>
					<div class="d-flex flex-row">
						<input type="button" value="Contact Us"class="btn site-btn1 px-4 py-3 mr-4 btn-dark animated bounceInLeft">
						<input type="button" value="About Us" class="btn site-btn2 px-4 py-3 mr-4 btn-light animated fadeInRight">
					</div>
				</div>
			</div>
		
		</div>
		<div class="section-1" id="section1">
			<div class="container text-center">
				<h1 class="heading-1"><span style="color:#f5b942">Our</span> Services</h1>
				<div class="row justify-content-center text-center">
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/Refining.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Refining Services</h4>
								<p class="card-text">
									Refining services using recognized and accredited refiners
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/Finance.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Precious Metal Financing</h4>
								<p class="card-text">
								Offering consignment facilities whereby physical bullion is kept at the client’s premises. The bullion is the dealer’s property until the client completes the financial transaction
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/lk.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Secure Storage</h4>
								<p class="card-text">
							Ensuring the safe and protected storage of physical bullion on a fully allocated basis
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center text-center">
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/Physical Bullion.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Physical Bullion</h4>
								<p class="card-text">
									Holding precious metals in bulk form and can facilitate the purchase or sale of bullion bars, which also includes smaller investment bars as well as scrap and dore
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/Location Swap.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Location Swap</h4>
								<p class="card-text">
								Accepting precious metals locally on behalf of clients, who will receive an immediate credit at a variety of locations worldwide
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card" style="width: 20rem;">
							<img src="imgs/Risk Management.jpg" class="card-img-top" alt="Image1">
							<div class="card-body">
								<h4 class="card-title">Precious Metals Risk Management</h4>
								<p class="card-text">
							Creating bespoke platform and risk management solutions for precious metals sector participants
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-2" id="section2">
			<div class="container-fluid">
               
				<div class="d-flex flex-row justify-content-center hh">
					<div class="d-flex flex-column m-4" style="width: 70%">
						<h1 class="heading-1">Our Mission</h1>
						<p class="para">So far, we have made a remarkable journey and built a brand of its own with innovative consumer initiatives and unrivaled quality for which loyal customers are dedicated. For modern and traditional styles aimed at sustainability, we are committed to providing you with the best shopping experience through a collaborative approach across the showrooms</p>
            <p class="para">We use the most suitable technical skills and capabilities required to become a leader in the precious metals trade. Providing timely and effective resources for our clients. Hold a high degree of integrity and honesty in all internal and external transactions</p>
					</div>
				</div>
			
			</div>
		</div>
		<div class="section-3 bg-dark" data-scroll-index="2" id="section3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="imgs/clifford-centre-4.jpg" class="img-fluid" style="border-radius: 10px;">
					</div>
					<div class="col-md-6 d-flex flex-column justify-content-center">
						<h1 class="text-white"><span style="color:#f0b943;">About</span> Arihant Jewellers PTE LTD</h1>
						<p class="para-1">
						  Arihant Jewellers is a trusted retailer of Precious Metals situated in the MENA region. We have a wide variety of products at Arihant Jewellers, including but not limited to metals ranging from the ever-popular gold and silver to the newly emerging precious metals. We offer a wide range of items that cater to first time buyers and long term owners.
						</p>
						<p class="para-1">
						  We offer you 100 percent Authentic goods. As a customer, you want to make sure you buy the real thing regardless of whether it is a 1/10th-ounce silver coin or a 1-kilo gold ingot. We make sure that every product you purchase from us has the best visual representation along with all the details of the appropriate product.
						</p>
					</div>
				</div>
				
			</div>
		</div>
        <div class="section-6 mb-5" id="section4">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            
            
          
            <div class="area" id="one">
              <h1 class="heading-1">Raghvendra Kedia</h1>
            <h2 class="heading-1">Managing Director</h2>
            <p class="mt-3" >
              Our Manager Mr.Raghvendra Kedia, an experienced financial professional who is always a phone call or an email away with tailored precious metals solutions whenever you need it. Raghvendra(Raghu) is supported by a team of highly experienced precious metal experts, ready to assist with Physical Bullion, Location Swap, Secure Storage, Refining Services, Precious Metal Financing & Precious Metals Risk Management. 

                       <ul class="list-inline" style=" list-style: none;">
                   <li><i class="fa fa-phone"></i>+65 9140 0338</li>
                     <li><i class="fa fa-phone"></i>+91 9321267788</li>
                   <li><i class="fa fa-envelope"></i> raghvendra.kedia@arihant.com.sg</li>
             </ul> 
            </p>
          </div>
          <div class="area" id="two">
            <h1 class="heading-1">Raghvendra Kedia</h1>
            <h2 class="heading-1">Managing Director</h2>
            <p class="mt-3" >
              Clients admire his straight talk, frequently unconventional viewpoints, and the complexity of his executive experience in the "real world". He intuitively sees the threads of opportunity winding through an organization, bringing them together into a coherent whole, helping others extend their thinking, and driving the advantage of the material business. He is an inspiring leader who tells stories that inspire action while simultaneously being grounded in financial information that levers the business.

                       <ul class="list-inline" style=" list-style: none;">
                   <li><i class="fa fa-phone"></i>+65 9140 0338</li>
                     <li><i class="fa fa-phone"></i>+91 9321267788</li>
                   <li><i class="fa fa-envelope"></i> raghvendra.kedia@arihant.com.sg</li>
             </ul> 
            </p>
          </div>
          <div class="area" id="three">
            <h1 class="heading-1">Raghvendra Kedia</h1>
            <h2 class="heading-1">Managing Director</h2>
            <p class="mt-3">
              Raghu is known for his capacity to identify, leverage and develop talent. Throughout his career, by addressing career strategy, leadership development, professional positioning, and visibility, he has helped clients, peers and subordinates recognize their unique abilities and position themselves as "A" players. He has a contagious enthusiasm and passionate belief in people that inspires them to become prouder, stronger, and more valuable contributors towards the organization. 

                 <ul class="list-inline" style=" list-style: none;">
                   <li><i class="fa fa-phone"></i>+65 9140 0338</li>
                     <li><i class="fa fa-phone"></i>+91 9321267788</li>
                   <li><i class="fa fa-envelope"></i> raghvendra.kedia@arihant.com.sg</li>
             </ul> 
            </p>
          </div>
            <div class="nav">
             <a href="#one"  class="dots"></a>
             <a href="#two"class="dots"></a>
             <a href="#three"class="dots"></a>
            </div>

          </div>
      
          <div class="col-md-6 text-center">
            <img src="imgs/m1.jpeg" class="img-fluid"style="border-radius: 10px;margin-top: 20%">
          </div>
        </div>
      </div>
    </div>
		<div class="section-5 " style="margin-bottom: 7rem;" id="section5">
			<div class="container ">
				<h1 class="heading-1 ">Frequently Asked Questions</h1>
				<div class="row">
					<div class="col-md-6">
						<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne" style="
    background-color: #6c757d;
">
      <h2 class="mb-0">
        <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Why to choose Arihant Singapore versus any other Bullion firm ?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      	<ul>
      		<li>Price is a critical decision making factor of any purchase. Our prices are competitive and dynamically linked to LBMA (neither static nor opaque)</li>
      		<li>Trust: We have earned with 2 decades to experience.</li>
      		<li>Technology: Makes it easier, faster, and transparent.</li>
      	</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" style="
    background-color: #6c757d;
">
      <h2 class="mb-0">
        <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What is your main strength ?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
      		<li>We are the largest precious metal stockiest in Bahrain (Middle East).</li>
      		<li>We are among the few firms with presence in Middle East, India, Asia with a B2B and B2C model and an unparalleled history of integrity.</li>
     
      	</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" style="
    background-color: #6c757d;
">
      <h2 class="mb-0">
        <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         What is your experience in Precious Metals ﬁeld?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
         <ul>
      		<li>Our shareholders are in the Bullion Business since more than 2 decades.</li>
    <li>Our Board has worked in Commodity markets across USA, India, and Middle East for more than 1 decade.</li>
    <li>We rely on financial technology to our advantage; take pride in dealing with global precious metals firms as our Business partners.</li>
    <li>We merge our Engineering, Management and Accounting credentials with our business of precious metals.</li>
      	</ul>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingThree" style="
    background-color: #6c757d;
">
      <h2 class="mb-0">
        <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
          Why are you here in Singapore?
        </button>
      </h2>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
         <ul>
          <li>In addition to all the advantages Singapore offers for Bullion business (security, encouraging Government, growing economy, and diversified demography) we wish to create supply and delivery lines (to and fro) across Middle East, India, Asia Pacific</li>
    <li>We want to increase the retail and institutional investments into Gold, as an asset class. We believe Singapore as a developed nation and international hub offers immense potential for precious metals business.</li>
    <li>Acting as intermediary, Dealer, Exporter, we plan to give seamless, transparent delivery of precious metals with highest international standards.</li>
    <li>We aspire to bridge the gap between retailers, suppliers, manufacturers, Banks for trade and for Bullion investments</li>
        </ul>
      </div>
    </div>
  </div>
</div>
					</div>
					<div class="col-md-6">
						<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-secondary " type="button" data-toggle="collapse" data-target="#fOne" aria-expanded="false" aria-controls="collapseOne">
          Which Bank and currencies are you dealing with ?
        </button>
      </h2>
    </div>

    <div id="fOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      	<ul>
      		<li>Currently, it’s Standard Chartered bank </li>
      		<li>Our accounts are in both, Singapore Dollars and US Dollars</li>
      		
      	</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#fTwo" aria-expanded="false" aria-controls="collapseTwo">
          Who are your Trade partners, Channel Associates ?
        </button>
      </h2>
    </div>
    <div id="fTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
      		<li>Leading global Commodity and Precious metal firms .</li>
      		<li>World’s finest Mints across Switzerland, USA, Australia, UK, Hong Kong, Singapore .</li>
     
      	</ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#fThree" aria-expanded="false" aria-controls="collapseThree">
         Which countries can you deliver precious metal to ?
        </button>
      </h2>
    </div>
    <div id="fThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
         <ul>
      		 <Li>GCC</Li>
		     <li> Qatar</li>
		    <li>India</li>
		    <li>Australia</li>
		    <li>Hong Kong</li>
		    <li>America</li>
		    <li>Europe</li>
		    <li>As per your request, Anywhere (ask us for your delivery destination).</li>
      	</ul>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#ffour" aria-expanded="false" aria-controls="collapseThree">
         What is your Vision?
        </button>
      </h2>
    </div>
    <div id="ffour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
         <ul>
           <Li>To be the leading precious metals, Gold bars, Dore resellers in the Asia Pacific.</Li>
         <li>With high dependence of technology we aim to deliver education, transparency for precious metals delivery from the miner to the end-user.</li>
        <li>We aspire to evolve as a one-stop-shop for precious metals, Gold bars, Dore resellers in the Asia Pacific.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
					</div>
				</div>
				
			</div>
		</div>

		<div class="section-4" style="background-color: currentColor;padding-bottom: 70px;" id="section6">
			
          <div class="p-2 container" style="height:unset ; width:unset;">
        
        <div class="row ee" style="margin-top: 70px;">
          <div class="col-sm-12 col-md-6 ee">
              <h1 class="title-h p-relative color-fff" style="padding-bottom: 10px;">
                <span class="fw-200">Contact </span> Us 
                <span class="line p-absolute bg-orange"></span>
                </h1>
                   <ul style="color:#fff; padding-left: 10px;list-style: none;">
                    <li><i class="fa fa-road"></i> 24 Raffles Place, Level 28 Clifford Center, Singapore 048621</li>
                    <li><i class="fa fa-phone"></i> +65 91400338</li>
                    <li><i class="fa fa-envelope"></i> info@arihant.com.sg</li>
                   </ul>
            <div class="contact-form">
              <form class="form" id="contact-form" method="POST" action="send" novalidate="true">
                <div class="messages"></div>
                <div class="controls">
                  <div class="row"> 
                  <div class="col-md-6">
                    <div class="form-group">
                      <input id="form_name" class="form-control" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
                      <div class="help-block with-errors color-orange"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input id="form_email" class="form-control" type="email" name="email" placeholder="Email" required="required" data-error="email is required.">
                    <div class="help-block with-errors color-orange"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input id="form_subject" class="form-control" type="text" name="subject" placeholder="Subject">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea id="form_message" class="form-control" name="message" placeholder="Message" rows="6" required="required" data-error="Message."></textarea>
                      <div class="help-block with-errors color-orange"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <input type="submit" value="Send Message" class="main-btn color-fff radius-50px bg-orange color-orange-hvr disabled">
                  </div>
                  <div class="col-md-12" style="color:#fff"><%=msg%></div>
                  </div>
                </div>
              </form>    
            </div>
          </div>
          <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center " style="margin-top: 10px">
             
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8167291641494!2d103.84978101470121!3d1.2838532990636031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da190eb7c00001%3A0x75a90c529e49b5e7!2sCompass%20Offices%20Clifford%20Centre!5e0!3m2!1sen!2sus!4v1583304548544!5m2!1sen!2sus"  frameborder="0" style="margin-top: auto;width: 100%;border:0;border-radius: 10px;height: 100%;padding-top: 5px;" allowfullscreen=""></iframe>

          </div>
        </div>
          </div>   
     
		</div>
	</main>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".navbar");
                var $b = $(".section-1 .heading-1");
                 var $b1 = $(".section-2 .heading-1");
                 var $b2 = $(".section-3 h1");
                 var $b3 = $(".section-6 .heading-1");
                 var $b4 = $(".section-5 h1");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());   
                           
                $b.toggleClass("animated bounceInRight", $(this).scrollTop() > $nav.height());
                 $b1.toggleClass("animated bounceInRight", $(this).scrollTop()-600 > $nav.height()); 
                   $b2.toggleClass("animated bounceInRight", $(this).scrollTop()-1450 > $nav.height()); 
                   $b3.toggleClass("animated bounceInRight", $(this).scrollTop()-2100 > $nav.height()); 
                   $b4.toggleClass("animated bounceInRight", $(this).scrollTop()-2800 > $nav.height()); 
            });
        });

        $(document).ready(function(){
          $(".site-btn1").click(function(){
            $('html,body').animate({scrollTop:7000},800);
          });
             $(".site-btn2").click(function(){
            $('html,body').animate({scrollTop:1600},800);
          });
        });
    </script>
</body>
</html>